.index {
    display: block;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 20%;
}

.index .btn{
    background-color: rgb(8, 65, 254);
    color: aliceblue;
}


.index .btn:hover{
    background-color: #0131D2;
}

hr{
    size: 3;
    color: black;
    height: 1.5px; 
    border-width:0; 
    background-color:rgb(43, 41, 41)
}

.index a{
    text-decoration: none;
    font-size: 20px;
    color: #4D9CA1;
    font-weight: 500;
}

.index a:hover{
    color: #3b6cf5;
}
a#tag.btn{
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
    padding: 2px 10px;
    background-color: #73BD72;
    color: rgba(16, 15, 15, 0.496);
    margin-right: 20px;
}

a#tag.btn:hover{
   background-color: #52AC50;  
} 

.d-flex.justify-content-end p#user{
    font-size: 15px;
    color: #1f2023;
}

a#username{
    font-size: 15px;
    cursor: pointer;
}

.ele{
    margin-top: 40px;
}

.ask{
    border: 3px solid rgb(65, 64, 64);
}

input#post-que.form-control.btn.btn-success.mt-4.mb-4{
    background-color: #2F952B;
}

input#post-que.form-control.btn.btn-success.mt-4.mb-4:hover{
    background-color: #3CBC36;
    border-color: #3CBC36;
}

span#time{
    font-size: smaller;
    margin-top: 8px;
}

.vote{
    flex-direction: column;
}

.body-vote{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.question-body{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #F8F3EF;
}

.vote{
    font-size: 18px;
    font-weight: 600;
}

.comments{
    margin-left: 120px;
}

.comment-element{
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 7px;
    font-size: 14px;
    background-color: #CCDCE8;
}

.comment-element .comment-writer{
    text-align: right;
}

.comment-element p{
    margin-bottom: 2px;
}

#tag-spe{
    margin-left: 120px;
}

.all_answers{
    margin-top: 40px;
    margin-bottom: 30px;
}

.answer_elements{
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 9px;
    background-color: #FCEDEB;
}

#submit-btn{
    background-color: #2F952B;
    border: #2F952B;
}

#submit-btn:hover{
    background-color: #3CBC36;
    border: #3CBC36;
}

#save-ans-e{
    background-color: #2F952B;
    border: #2F952B;
}

#save-ans-e:hover{
    background-color: #3CBC36;
    border: #3CBC36;
}

button.btn.edit{
    background-color: #1f2023;
    display: block;
    margin-left: 93%;
}

button.btn.edit:hover{
    background-color: #101011;
}

#close-ans-e{
    background-color: #1f2023;
}

#close-ans-e:hover{
    background-color: #101011;
}

input.btn.delete{
    display: inline-block;
    background-color: rgb(226, 6, 6);
    margin-left: 90%;
    margin-top: 10px;
}

input.btn.delete:hover{
    background-color: #720a0a;
}

#que-form{
    display: none;
}

#textareaQ{
    background-color: #f8f3ef;
    border: 2px solid rgb(11, 11, 11);
}

.ans-edit-form{
   display: none;
}

#delete-ans{
    background-color: #c70000;
}

#delete-ans:hover{
    background-color: #720a0a;
}

.green{
    margin-top: 50px;
    color: #3D7A35;
}

@media only screen and (max-width: 600px) {
    .index{
        display: block;
        width: 98%;
        margin-left: 5px;
        margin-right: 2px;
    }
    form#askForm{
        width: 97%;
    }
    .body-vote{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
     }
     .vote{
        flex-direction: row;
    }

    .comments{
        margin-left: 5px;
    }
    #tag-spe{
        margin-left: 5px;
    }
    button.btn.edit{
        margin-left: 85%;
    }
    input.btn.delete{
        margin-left: 78%;
    }
}