{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Askflow{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Lato:wght@700&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:ital,wght@1,600&display=swap" rel="stylesheet">


        <link href="{% static 'overflow/styles.css' %}" rel="stylesheet">
        <link href="{% static 'overflow/index.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <script src="{% static 'overflow/scripts.js' %}"></script>
       <script src="{% static 'overflow/edit.js' %}"></script>
       <script src="{% static 'overflow/edit_ans.js' %}"></script>

       <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
       
       <title>Hello</title>
       {% block style %}
       {% endblock %}
    </head>
    <body>

        <!--Nav Bar Code-->
        <nav class="navbar navbar-light bg-dark mr-0">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">
                <img
                  src="../static/overflow/download-icon-drawn+social+stack+overflow+icon-1320191384929497317_0.svg"
                  class="me-2"
                  height="50"
                  alt="Logo"
                  loading="lazy"
                />
                <span id="overflow" style="color: white;">Askflow</span>
              </a>

              <form action="{% url 'index' %}" method="post" class="d-flex input-group" id="search">
                 {% csrf_token %}
                <input
                  type="search"
                  class="form-control rounded"
                  placeholder="Search for Question"
                  aria-label="Search"
                  aria-describedby="search-addon"
                  name="search"
                />
                <button class="btn btn-outline-light my-2 my-sm-0 ml-2" type="submit">Search</button>
              </form>
               {% if user.is_authenticated %}
               <a href="{% url 'profile' user.id %}" style="text-decoration: none;"><h3 style="color: rgb(180, 254, 235);" id="HomeB">{{ user.username }}</h3></a>
               <a href="{% url 'logout' %}" style="text-decoration: none;"><h3 style="color: rgb(180, 254, 235);" id="HomeB">Logout</h3></a>
               {% else %}
               <a href="{% url 'login' %}" style="color: rgb(180, 254, 235); text-decoration: none;"><h3 id="HomeB">Login</h3></a>
               <a href="{% url 'register' %}" style="color: rgb(180, 254, 235); text-decoration: none;"><h3 id="HomeB">Register</h3></a>
               {% endif %}


            </div>
          </nav>
          

        <!--Main Body-->
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        
    </body>
</html>
