{% extends "overflow/layout.html" %} 

{% block body %}
<div class="index">

    <h1 style="color: #3D7A35;">{{User.username}}</h1>
    <br />
    <h4>Questions asked: {{User.questions}}</h4>
    <h4>Answers given: {{User.answers}}</h4>


    <h2 class="green">Top Questions:</h2>


    <!--Questions-->
    {% for object in objects %}
      <hr />
      <a href="{% url 'question' object.que.id %}"><p>{{ object.que.title }}</p></a>

      <!--Tags-->
      <div class="d-flex justify-content-start pl-10">
        {% for tag in object.tags %}
        <a id="tag" class="btn" href="{% url 'tag' tag.tag %}">{{ tag.tag }}</a>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-end">
        <p id="user">Asked by <a id="username" href="{% url 'profile' object.que.user.id %}"> {{ object.que.user.username }} </a>
        {% if object.days == "0 days" %}
            {{object.time}} ago.
        {% else %}
            {{object.days}} ago.
        {% endif %}
        </p>
        <br />
      </div>  
        <p>Answers: {{object.que.no_answer}}</p>
    {% endfor %}
       <hr />


     <!--Paginator-->
 <div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation example" id="foo">
     <ul class="pagination">
       
         {% if objects.has_previous %}
         <li class="page-item"><a href="?page=1" class="page-link">&laquo; first</a></li>
         <li class="page-item"><a href="?page={{ objects.previous_page_number }}" class="page-link">previous</a></li>
         {% endif %}
   
         <li class="page-item" ><span class="current page-link">
             Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
         </span></li>
   
         {% if objects.has_next %}
         <li class="page-item"> <a href="?page={{ objects.next_page_number }}" class="page-link">next</a></li>
           <li class="page-item"> <a href="?page={{ objects.paginator.num_pages }}" class="page-link">last &raquo;</a></li>
         {% endif %}
   
       </ul>
   </nav>
   </div>
    <!--************************************************************************-->
   


</div>
{% endblock %}